<form action="/register" method="POST">
    <div class="mb-3">
        <label for="firstname" class="form-label">Prénom</label>
        <input type="text" id="firstname" name="firstname" required class="form-control" value="<%= data.firstname || '' %>">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Nom</label>
        <input type="text" id="lastname" name="lastname" required class="form-control" value="<%= data.lastname || '' %>">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" required class="form-control" value="<%= data.email || '' %>" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+">
    </div>
    <div class="mb-3">
        <label for="confirm-email" class="form-label">Confirmez l'email</label>
        <input type="email" id="confirm-email" name="confirmEmail" required class="form-control" value="<%= data.confirmEmail || '' %>" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Numéro de téléphone</label>
        <input type="tel" id="phone" name="phone" required class="form-control" value="<%= data.phone || '' %>" pattern="[0-9]{10}">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" name="password" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>