<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Ajouter une Offre</title>
</head>
<body>
<%- include('../navbar.ejs') %>
<div class="container mt-5">
    <%- include('../message.ejs') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Ajouter une Offre</h1>
            <!-- Button to manage job listings -->
            <div class="d-flex justify-content-end mb-3">
                <a href="/jobs/my_jobs" class="btn btn-secondary">Gérer mes Fiches de Poste</a>
            </div>
            <form action="/jobs/add_offer" method="post">
                <div class="mb-3">
                    <label for="dateValidité" class="form-label">Date de Validité</label>
                    <input type="date" class="form-control" id="dateValidité" name="dateValidité" required>
                </div>
                <div class="mb-3">
                    <label for="listePieces" class="form-label">Liste des Pièces</label>
                    <input type="text" class="form-control" id="listePieces" name="listePieces" required>
                </div>
                <div class="mb-3">
                    <label for="nombrePieces" class="form-label">Nombre de Pièces</label>
                    <input type="number" class="form-control" id="nombrePieces" name="nombrePieces" required>
                </div>
                <div class="mb-3">
                    <label for="idFiche" class="form-label">Fiche de Poste</label>
                    <select class="form-select" id="idFiche" name="idFiche" required>
                        <% fiches.forEach(fiche => { %>
                            <option value="<%= fiche.IdFiche %>"><%= fiche.Intitule %></option>
                        <% }) %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter l'Offre</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
