<div class="tw-px-4 tw-py-2">
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Intitulé:</strong> <span class="tw-text-gray-900"><%= fiche.Intitule %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Statut du Poste:</strong> <span class="tw-text-gray-900"><%= fiche.StatutPoste %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Responsable Hiérarchique:</strong> <span class="tw-text-gray-900"><%= fiche.ResponsableHierarchique %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Type de Métier:</strong> <span class="tw-text-gray-900"><%= fiche.TypeMetier %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Lieu de Mission:</strong> <span class="tw-text-gray-900"><%= fiche.LieuMission %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Rythme:</strong> <span class="tw-text-gray-900"><%= fiche.Rythme %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Salaire:</strong> <span class="tw-text-gray-900"><%= fiche.Salaire %> €</span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Description:</strong> <span class="tw-text-gray-900"><%= fiche.Description %></span></p>
    <p class="tw-mb-2"><strong class="tw-text-gray-700">Organisation:</strong> <span class="tw-text-gray-900"><%= fiche.OrganisationNom %> (<%= fiche.IdOrganisation %>)</span></p>
</div>
