<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head.ejs') %>
    <title>Fiches de Poste</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">

<%- include('../navbar.ejs') %>

<div class="tw-container tw-mt-5 tw-mx-auto">
    <%- include('../message.ejs') %> <!-- Inclusion des messages -->
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <h1 class="tw-mb-4 tw-text-4xl tw-font-bold tw-text-gray-800 tw-text-center">Fiches de Poste de Mon Organisation</h1>
        </div>
    </div>
    <div class="tw-flex tw-justify-center">
        <div class="tw-w-full sm:tw-w-3/4 lg:tw-w-1/2">
            <%- include('../listings/my_jobs.ejs') %>
        </div>
    </div>
</div>

<!-- Inclure uniquement le JS de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        const deleteButtons = document.querySelectorAll('.delete-button');
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        let ficheIdToDelete;

        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                ficheIdToDelete = this.getAttribute('data-id');
                fetch(`/jobs/check_dependents?idFiche=${ficheIdToDelete}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.hasDependents) {
                            deleteModal.show();
                        } else {
                            submitDeletionForm(ficheIdToDelete);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

        confirmDeleteButton.addEventListener('click', function () {
            submitDeletionForm(ficheIdToDelete);
        });

        function submitDeletionForm(idFiche) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/jobs/my_jobs';
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'idFiche';
            input.value = idFiche;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }
    });
</script>

<!-- Inclusion du modal en utilisant le fichier modal.ejs -->
<%- include('../modal.ejs', {
modalId: 'deleteModal',
modalLabelId: 'deleteModalLabel',
modalTitle: 'Confirmer la Suppression',
modalBody: 'confirmation_body.ejs',
}) %>

</body>
</html>
