<div class="modal-body">
    <p><strong>Description:</strong> <%= offre.Description %></p>
    <p><strong>Statut du poste:</strong> <%= offre.StatutPoste %></p>
    <p><strong>Responsable hiérarchique:</strong> <%= offre.ResponsableHierarchique %></p>
    <p><strong>Type de métier:</strong> <%= offre.TypeMetier %></p>
    <p><strong>Lieu de mission:</strong> <%= offre.LieuMission %></p>
    <p><strong>Rythme:</strong> <%= offre.Rythme %></p>
    <p><strong>Salaire:</strong> <%= offre.Salaire %> €</p>
    <p><strong>Valide jusqu'à:</strong> <%= new Date(offre.DateValidite).toLocaleDateString("fr-FR") %></p>
    <p><strong>Organisation:</strong> <%= offre.nom %></p>

    <% if (isCandidate) { %>
        <h3>Vous postulez déjà à cette offre</h3>
    <% } else { %>
        <h3>Postuler à cette Offre</h3>
        <p>Les pièces suivantes sont demandées :<br><%= offre.ListePieces %></p>
        <%- include('../forms/apply_form.ejs', { idOffre: offre.IdOffre, offre: offre }) %>
    <% } %>
</div>
