<% function isActive(route) { return activePage.startsWith(route); } %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Plateforme de Recrutement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if (userRole) { %>
                    <% if (userRole === 'candidat' || userRole === 'recruteur en attente' || userRole === 'recruteur' || userRole === 'administrateur') { %>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('dashboard') ? 'active' : '' %>" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/users/profile') ? 'active' : '' %>"
                               href="/users/profile">Mon Profil</a>
                        </li>
                    <% } %>
                    <% if (userRole === 'candidat' || userRole === 'recruteur en attente' || userRole === 'recruteur') { %>
                        <% if (space === 'candidat' || !space) { %>
                            <li class="nav-item">
                                <a class="nav-link <%= isActive('/applications/my-applications') ? 'active' : '' %>"
                                   href="/applications/my-applications">Voir mes Candidatures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= isActive('/jobs/browse_offers') ? 'active' : '' %>"
                                   href="/jobs/browse_offers">Postuler</a>
                            </li>
                        <% } %>
                    <% } %>
                    <% if (userRole === 'recruteur' && space === 'recruteur') { %>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/jobs/add_job') ? 'active' : '' %>" href="/jobs/add_job">Ajouter un Poste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/jobs/add_offer') ? 'active' : '' %>"
                               href="/jobs/add_offer">Ajouter une Offre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/applications/incoming-applications') ? 'active' : '' %>" href="/applications/incoming-applications">Voir les Candidatures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/jobs/my_offers') ? 'active' : '' %>" href="/jobs/my_offers">Voir les Offres de l'Organisation</a>
                        </li>
                    <% } %>
                    <% if (userRole === 'administrateur') { %>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/organizations/manage_requests') ? 'active' : '' %>" href="/organizations/manage_requests">Gérer les demandes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/users/userslist') ? 'active' : '' %>" href="/users/userslist">Liste des Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= isActive('/organizations/list_organisations') ? 'active' : '' %>" href="/organizations/list_organisations">Liste des Organisations</a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
            <% if (userRole === 'recruteur') { %>
                <ul class="navbar-nav ms-auto">
                    <% if (space === 'candidat' || !space) { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" href="/dashboard/switch-to-recruiter-space">Espace Recruteur</a>
                        </li>
                    <% } else if (space === 'recruteur') { %>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="/dashboard/switch-to-candidate-space">Espace Candidat</a>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
</nav>
