<% var currentPage = typeof activePage !== 'undefined' ? activePage : ''; %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Plateforme de Recrutement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'add_job' ? 'active' : '' %>" href="/jobs/add_job">Ajouter un Poste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'add_offer' ? 'active' : '' %>" href="/jobs/add_offer">Ajouter une Offre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'browse_offers' ? 'active' : '' %>" href="/jobs/browse_offers" id="espaceRecruteur">Postuler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'browse_received' ? 'active' : '' %>" href="applications/browse_received">Voir mes Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'my_offers' ? 'active' : '' %>" href="/jobs/my_offers">Voir mes Offres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'my_profile' ? 'active' : '' %>" href="/dashboard/my_profile">Mon Profil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
