<nav aria-label="Page navigation">
    <ul class="pagination">
        <% for(let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>&search=<%= search %>&showHistory=<%= typeof showHistory !== 'undefined' ? showHistory : 'false' %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
</nav>
