<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../head') %>
    <title>Dashboard Administrateur</title>
</head>
<body class="tw-bg-gray-100 tw-font-sans tw-leading-normal tw-tracking-normal">
<%- include('../navbar', { activePage: 'dashboard' }) %>
<div class="tw-container tw-mx-auto tw-my-8 tw-px-4">
    <%- include("../message.ejs") %>
    <section id="overview" class="tw-mb-8">
        <h2 class="tw-text-2xl tw-font-semibold tw-text-gray-800 tw-mb-4">Aperçu</h2>
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            <div class="tw-bg-blue-600 tw-text-white tw-shadow-lg tw-rounded-lg tw-p-6">
                <h3 class="tw-text-xl">Utilisateur<%= utilisateurs.length > 1 ? 's' : '' %></h3>
                <p class="tw-text-4xl"><%= utilisateurs.length %></p>
            </div>
            <div class="tw-bg-yellow-500 tw-text-white tw-shadow-lg tw-rounded-lg tw-p-6">
                <h3 class="tw-text-xl">Demande<%= demandesEnAttente.filter(demande => demande.Action === 'en attente').length > 1 ? 's' : '' %> en attente</h3>
                <p class="tw-text-4xl"><%= demandesEnAttente.filter(demande => demande.Action === 'en attente').length %></p>
            </div>
        </div>
    </section>

    <section id="users" class="tw-mb-8">
        <h2 class="tw-text-2xl tw-font-semibold tw-text-gray-800 tw-mb-4">Utilisateurs Récents</h2>
        <div class="tw-overflow-x-auto tw-bg-white tw-shadow-lg tw-rounded-lg">
            <table class="tw-min-w-full tw-bg-white">
                <thead class="tw-bg-gray-200">
                <tr>
                    <th class="tw-w-1/5 tw-py-2">Nom</th>
                    <th class="tw-w-1/5 tw-py-2">Email</th>
                    <th class="tw-w-1/5 tw-py-2">Téléphone</th>
                    <th class="tw-w-1/5 tw-py-2">Type de Compte</th>
                    <th class="tw-w-1/5 tw-py-2">Date de Création</th>
                </tr>
                </thead>
                <tbody>
                <% utilisateurs.slice(0, 5).forEach(utilisateur => { %>
                    <tr class="hover:tw-bg-gray-100">
                        <td class="tw-py-2 tw-px-4"><%= utilisateur.Nom %> <%= utilisateur.Prenom %></td>
                        <td class="tw-py-2 tw-px-4"><%= utilisateur.Email %></td>
                        <td class="tw-py-2 tw-px-4"><%= utilisateur.Telephone %></td>
                        <td class="tw-py-2 tw-px-4"><%= utilisateur.TypeCompte %></td>
                        <td class="tw-py-2 tw-px-4"><%= new Date(utilisateur.DateCreation).toLocaleDateString() %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <div class="tw-mt-4 tw-text-right">
            <a href="/users/userslist" class="tw-bg-blue-600 hover:tw-bg-blue-700 tw-text-white tw-font-semibold tw-py-2 tw-px-4 tw-rounded-lg">Voir tous les utilisateurs</a>
        </div>
    </section>

    <section id="requests" class="tw-mb-8">
        <h2 class="tw-text-2xl tw-font-semibold tw-text-gray-800 tw-mb-4">Demandes en Attente</h2>
        <div class="tw-overflow-x-auto tw-bg-white tw-shadow-lg tw-rounded-lg">
            <table class="tw-min-w-full tw-bg-white">
                <thead class="tw-bg-gray-200">
                <tr>
                    <th class="tw-w-1/5 tw-py-2">Numéro Siren</th>
                    <th class="tw-w-1/5 tw-py-2">Action</th>
                    <th class="tw-w-1/5 tw-py-2">Type de Demande</th>
                    <th class="tw-w-1/5 tw-py-2">Date de l'Action</th>
                    <th class="tw-w-1/5 tw-py-2">Utilisateur</th>
                </tr>
                </thead>
                <tbody>
                <% demandesEnAttente.slice(0, 5).forEach(demande => { %>
                    <tr class="hover:tw-bg-gray-100">
                        <td class="tw-py-2 tw-px-4"><%= demande.NumeroSiren %></td>
                        <td class="tw-py-2 tw-px-4"><%= demande.Action %></td>
                        <td class="tw-py-2 tw-px-4"><%= demande.TypeDemande %></td>
                        <td class="tw-py-2 tw-px-4"><%= new Date(demande.DateAction).toLocaleDateString() %></td>
                        <td class="tw-py-2 tw-px-4"><%= demande.UserId %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <div class="tw-mt-4 tw-text-right">
            <a href="/organizations/manage_requests" class="tw-bg-yellow-600 hover:tw-bg-yellow-700 tw-text-white tw-font-semibold tw-py-2 tw-px-4 tw-rounded-lg">Voir toutes les demandes</a>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
